.main_header_css {
    padding: 5px 15px;
    background-color: #050A44;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_heading_css{
    font-family: "Fraunces", serif ;
    font-size: 22px !important;
    font-weight: 700 !important;
    color:white !important;
    line-height: 24px !important;
}

.button_login_css { 

font-family: Lato !important;
font-size: 16px !important;
font-weight: 400 !important;
color:rgb(12, 11, 11);
line-height: 24px !important;
text-align: left !important;
text-decoration: none !important;
text-transform: inherit !important;
cursor: pointer;
padding: 2px;
    width: 90px;
    border-radius: 8px;
background-color: white;


}

.second_grid_css{
    display: flex;
    gap:20px;
    width: 100%;
    justify-content: end;
}
.logo_css{
    width: 100px;
    background: #f0f8fff0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0), 0 6px 20px 0 rgb(0 0 0 / 58%);
    border-radius: 50%;
}