.main_header_css {
    padding: 15px;
    background-color: rgba(7, 79, 87, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_login_css { 

font-family: Lato !important;
font-size: 20px !important;
font-weight: 600 !important;
color:white;
line-height: 24px !important;
text-align: left !important;
text-decoration: none !important;
text-transform: inherit !important;
cursor: pointer;
}

.second_grid_css{
    display: flex;
    gap:20px;
    width: 100%;
    justify-content: end;
}
