body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #848FAC80; 
  border-radius: 10px;
}

::-webkit-scrollbar {
  width:8px;
  height: 12px; 
}


.title-main {
  font-weight: 500 !important;
  line-height: 1.3 !important;
}

.heading-main {
  /* font-weight: 400 !important; */
  line-height: 1.3 !important;
  font-size: 20px !important;
} 

.text-main {
  /* font-weight: 100 !important; */
  line-height: 1.3 !important;
  font-size: 18px !important;
}   

